<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name=" All test Suite" parallel="tests" thread-count="3">
  <test  name="chromebrowser">
  <parameter name="browser" value="chrome"></parameter>
  <classes> 
      <class name="Testngformat.Program5"/>
  </classes>
  </test> <!-- Test -->
   <test  name="Firefoxbrowser">
  <parameter name="browser" value="firefox"></parameter>
  <classes> 
      <class name="Testngformat.Program5"/>
  </classes>
  </test> <!-- Test -->
   <test  name="Internetexplorer">
  <parameter name="browser" value="ie"></parameter>
  <classes> 
      <class name="Testngformat.Program5"/>
  </classes>
  </test> <!-- Test -->
  
 
  
 </suite> 
